<h1>Files & Directories on the remote server</h1>
<hr><hr>
<br>
<table border="1" cellpadding="1" cellspacing="1" style="width: 700px;"><tr>
  <th>Size</th>
  <th>File/Dir</th>
</tr>
{% if latest_list %}
    <tbody>
    {% for f in latest_list %}
        <tr><td>[{{ f.size }}]</td> <td>{{ f.file_name }}</td></tr>
    {% endfor %}
    </tbody>
{% else %}
    <p>No files are available.</p>
{% endif %}
</table>
<footer>

</footer>