<h1>Welcome to my site</h1>
<p>This webpage lists the contents of directories recursively (relative to the HOME directory) with their size of a specified server</p>
<hr><hr>

<h4>Please Enter the Linux/Unix(Preferably linux) server below:</h4>
<br>
<form name="input" action="info/" method="get">
<table border="1" cellpadding="1" cellspacing="1" style="width: 700px;">
			<tbody>
				<tr >
					<td >
						Host name or IP address</td>
					<td>
						<input type="text" name="host"><br></td>
				</tr>
				<tr>
					<td>
						login:</td>
					<td>
						<input type="text" name="lg"><br></td>
				</tr>
				<tr>
					<td>
						Password:</td>
					<td>
						<input type="password" name="psw"></td>
				</tr>
			</tbody>
		</table>
        <input type="submit" value="Submit">
</form>
<footer>

</footer>